<div class="card">
  <div class="card-body">
    <p class="card-text"><%= review.body %></p>
    <p class="card-text text-muted">At: <%= review.created_at.strftime("%B %d, %Y, %I:%M %p") %></p>
  </div>
</div>
