<h1>New Article</h1>

<%= form_with(model: @review, url: { action: "create" }, local: true) do |form| %>
  <div>
    <%= form.label :comment %><br>
    <%= form.text_field :comment %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
