<h1>New Article</h1>

<%= form_with(model: @review, url: { action: 'create' }, local: true) do |form| %>
  <div>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
